@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Sofia&display=swap");

* {
  margin: 0px;
  font-family: "Raleway", sans-serif;
  font-family: "Sofia", cursive;
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 15vh;
  background-color: aquamarine;
  position: relative;
}
.header img {
  width: 5vw;
  height: 10vh;
  float: left;
  position: absolute;
  bottom: 5px;
  bottom: 15px;
  left: 20px;
}
.links {
  float: right;
  position: absolute;
  top: 35px;
  right: 50px;
}
/* ako njegov parent ima definisan position:relative,5px se udaljava samo od njega (headera) */

a {
  font-size: 22px;
  margin: 10px;
  padding: 12px;
  text-decoration: none;
  border-radius: 10px;
  color: blue;
  background-color: cyan;
}

a:hover {
  background-color: blue;
  color: cyan;
}

/* a:visited {
  color: rgb(194, 73, 17);
} */

a:active {
  color: aliceblue;
}

p {
  font-size: larger;
  word-spacing: 10px;
  letter-spacing: 2px;
  line-height: 35px;
}

i {
  position: absolute;
  left: 45%;
  bottom: 100px;
  font-size: 35px;
  border-radius: 50px;
  background-color: aqua;
}

button {
  background-color: aliceblue;
  color: blue;
  padding: 12px;
  border: 1px solid blue;
  font-family: "Courier New", Courier, monospace;
  border-radius: 12px;
  /* cursor: pointer; */
  /* cursor: text; */
  cursor: default;
}
