body {
  margin: 0;
  box-sizing: border-box;
}

header img {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.slike {
  margin-left: 240px;
  height: 45px;
  width: 75%;
}

header {
  height: 150px;
  background-color: antiquewhite;
}
