* {
  margin: 0;
  box-sizing: border-box;
}

.parent {
  margin: auto;
  width: 500px;
  height: 500px;
  background-color: cadetblue;
}
.child {
  width: 50%;
  height: 50%;
  background-color: aqua;
  animation: top-to-bottom 1.3s ease-in 0.5s forwards infinite alternate;
  /* animacija se desava ne gledajuci mis */
}

/* .parent:hover .child { */
/* animation: name duration timing-function delay iteration-count direction fill-mode; */
/* animation: top-to-bottom 2s ease-in 0.5s forwards infinite alternate; */
/* animation: top-to-bottom 1.3s ease-in 0.5s forwards 3 alternate; */
/* backwards ,3 ponavljanje/vracanje je takodje desavanje- alternate */
/* animation-play-state: paused; zaustavlja se sa misem */
/* background-color: yellowgreen; */
/* } */

@keyframes top-to-bottom {
  0% {
    transform: translateX(0%);
  }
  33% {
    transform: translateX(100%);
    background-color: blue;
  }
  50% {
    transform: translate(50%, 50%);
    background-color: rgb(229, 250, 45);
  }
  66% {
    transform: translate(100%, 100%);
    background-color: rgb(249, 250, 242);
  }
  100% {
    transform: translate(0%, 100%);
  }
}
